 
/*************************************************************************************
                                MOBILE FIRST APPROACH
*************************************************************************************/

	/*****************GENERAL******************/
	a{
	   text-decoration: none;
    }
    body{
	     margin: 0;
	     padding: 0;
		
	}
	/****************NAVIGATION*****************/
	nav{
		width: 100%;
		background: black;
		min-height: 30px;
		padding: 10px;
		position: fixed;
		text-align: center;
		z-index:1;
	}
	/*make a unique logo for mobile display*/
	#logo{
		text-align: center;
		margin:0;
	}
	/* logo text*/
	#logo h1{
		text-align:center;
		font-family: 'Nova Script', Helvetica, Arial, sans-serif;
		font-size:	1.50em;
		font-weight: normal;
		line-height: 0.6em;
		color: #fff;
		 
	}
	/*Menu*/
	nav ul{
		list-style:none;
		margin: 0 10px;
		padding:0;
	}
	nav li{
		display:inline-block;
	}
	nav li h2{
		font-family: 'Audiowide', Helvetica, Arial, sans-serif; 
		font-weight:500;
		font-size:	0.75em;
		font-weight: normal;
		padding: 8px 10px;
		margin: 0;
		color: #fff;
	}
	nav li:hover{
		background-color: forestgreen;
		border-radius: 5px;
		border-bottom:none;
	}
	.selected{
		border-bottom:3px solid forestgreen;
		border-radius: 5px;
	}
	
/*********************COVER*******************/
/*Index-Page: Cover*/
	.header-index{
		background-color:#eaeaea;
		box-sizing: border-box;
		height:400px;
		text-align:center;
		background: url("../img/plant.jpg") no-repeat center;
		width: 100%;
		background-position: 40% 60%;
		border-bottom:3px double black;
	}
	.header-index .profile-image{
		border: 3px solid black;
		margin: auto;
		margin-top:120px;
		border-radius: 50%;
		color:#ff9999;
		padding:0px;
	}
	
	
	.header-index h1{
		font-size:	1.50em;
		color: black;
		font-weight:bold;
		padding-top:0px;
		line-height: 0.6em;
        margin: 15px 0;
	}
	.header-index h2{
		font-size:	1.25em;
		color: black;
		font-weight: bold;
		padding-bottom:0;
	}
	.header-index h3{
		display:inline;
		padding-top:  0px;
		font-family: 'Bad Script', Helvetica, Arial, sans-serif;
		margin:0;
		font-size: 1em;
	}
	
/*Experience-Page: cover*/
	.header-experience{
		
		background: linear-gradient(to top,#fff, transparent 85%),
		                   url('../img/model_3.jpg');
		background-position: center;
		background-size:cover;
		text-align:center;
		height:300px;
		width: 100%;
		margin-top: -40px;
	}
	.experience-text{
		
		font-size: 2.50em;
		font-family: 'Audiowide';
		padding-top:200px;
		text-shadow: 1px 1px 10px forestgreen;
		color:#042057;
		
	}
		.description{
		font-size:1.10em;
		text-align:center;
		color:#7b7b7b;
		width:70%;
		height:auto;
		line-height:30px;
		letter-spacing:.5px;
		margin: -50px auto 50px ;
		text-shadow: .5px  1px #000;
		padding: 0;
		
	}
	.description img{
		height:90px;
		width: 70px;
		opacity: .5;
		margin: -50px;
		padding:0;
		
	}

/**********************Body****************************/
	.primary{
		min-height:400px;
		text-align:left;
		line-height:20px;
		background-color:#e6e6e6;
		margin: 20px 20px;
		padding:0;
		border: 1px solid #042057;
	}
	.skills li{
		display: inline-block;
		padding: 2px 8px;
		border: 2px groove  #c1eff1;
		border-radius: 5px;
	}
	.text{
		margin: auto 10px;
		text-align: justify;
		font-size: 1.20em;
		color: #737373;
		line-height: 35px;
		letter-spacing: 0px;
		padding-bottom:20px;
		
	}
	.title{
		font-size:1em;
		font-family: 'Audiowide', Helvetica, Arial, sans-serif;
		display:block;
		background-color: #042057;
		margin-top: -1px;
		color:white;
		text-align:center;
		font-weight: normal;
		padding: 10px 0 ;
		opacity:.9;
		
	}
	.container{
		background-color:#e6e6e6;
		width:90%;
		height:auto;
		margin: 50px auto;
		text-align: center;
		letter-spacing:.5px;
		padding:0;
		
	}

/*******************FOOTER***********************/
footer {
		font-size: 1em;
		text-align: center;
		border-top: 3px double black;
		background-color:#e6e6e6;
		/*margin: 10px 0px;*/
		color: #ccc;
		padding: 20px 30px;
		clear: both;
	}
  
  .social-icon{
		width: 30px;
		height: 30px;
		margin: 10px 2px;
		border-radius: 50%;
	}
/*********************************************************************************************************
												BIGGER SCREENS
*********************************************************************************************************/


@media screen and (min-width: 660px) {

/********************NAVIGATION***********************/
	nav ul{
		margin: 15px 20px 0 0;
		float: right;
	}
/***********************COVER***********************/
	.header-index{
		height: 500px;
		background-size: cover;
}
	.header-index .profile-image{
		margin-top:120px;
	}

	.header-index h1{
		font-size:	2em;
	}
    .header-index h2{
		font-size:	1.50em;
		font-weight: normal;
	}
	.cover-text:hover{
		background-size: 180px 150px;
	}
	#logo{
		float:left;
		padding-left: 10px;
	}
/*************************Body*****************************/

	.primary{
		width: 35%;
		float: left;
		border:0;
		box-shadow: 4px 4px 10px #888888;
		margin: 4% 5% 5% 10%;
		padding:0;
		border-radius:10px;
		min-height:500px;
	}
	
	
	.text{
		margin-left: 40px;
		margin-right: 40px;
	}
	.skills{
		width:35%;
		/*min-height:400px;*/
		float: right;
		border-radius:10px;
		line-height:20px;
		background-color:#e6e6e6;
		box-shadow: 4px 4px 10px #888888;
		border: 0px;
		margin: 4% 10% 5% 5%;
		padding: 0;
		min-height:500px;
	}
	.title{
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.skills:hover{
		background-color: #f8f8f8;
	}
	.primary:hover{
		background-color: #f8f8f8;
		transition:1.5s;
	}
	.container{
		width:50%;
		height:auto;
		border-radius:10px;
	}

.group:after{
	content:"";
	display: table;
	clear:both;
	
}
}
